/* src/fonts.css */
@font-face {
  font-family: "MyFont";
  src: url("./fonts/my-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MyFont";
  src: url("./fonts/my-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "MyFont";
  src: url("./fonts/my-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

/* Apply the font globally */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
div,
input,
button,
select,
textarea,
label,
ul,
li,
ol,
blockquote,
address,
cite,
code,
em,
strong,
th,
td,
caption,
fieldset,
legend,
table,
tr,
td,
th,
thead,
tbody,
tfoot,
* {
  font-family: "MyFont", sans-serif !important;
}
